body{
	font-family: Helvetica;
}

h1{
	color: red;
}

p{
	color: red;
	-webkit-transition: color 2s linear; /* Safari 3.1 to 6.0 */
    transition: color 0.5s linear;
    -moz-transition: color 2s linear; /* Mozilla 3.1 to 6.0 */
    -o-transition: color 2s linear; /* Mozilla 3.1 to 6.0 */
}

p:hover{
		color: rgb(64,38,75);
	}
